<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <p>
       <% @message.each do |message| %>
          <%= message.content %>
          <div class="post-time">
        <!-- @postのcreated_atカラムのデータを表示してください -->
            <%= message.created_at %>
        
          </div>
        <% end %>
      </p>
       <div class="form">
          <div class="form-body">
            <textarea name="content"></textarea>
            <input type="submit" value="投稿">
          </div>
        </div>

    </div>
  </div>
</div>
